# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

build/

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr

# misc

*.jar
minecraft-*.jar

.sixth/
.vscode/
ку/

fabric-installer*.jar
fabric-api*.jar